<div class="container">
  <h1>Angular Components</h1>
  <h2>Subneader</h2>
  <!-- event для передачи параметра!!!-->
  <app-post-form (onAdd)="updatePosts($event)"></app-post-form>
  <hr />
  <app-post
  *ngFor="let post of posts"
  [post]="post"
  (onRemove)="removePost($event)"
  >
    <div #info>
      <small *ngIf="post.text.length > 10; else short">Long post</small>
      <ng-template #short> <small>Short post</small></ng-template>
    </div>
  </app-post>
</div>

<app-pipes></app-pipes>
<app-pipes-async></app-pipes-async>
<app-app-counter></app-app-counter>
<app-counter></app-counter>
